#eventLogo {
	left: 42px;
	top: 25px;
	width: 157px;
	height: 163px;
}

.scmLogo {
	width: 143px;
	height: 52px;
}

.gameCapture {
	width: 1024px;
	height: 576px;
}

#gameCapture1 {
	left: 229px;
	top: 23px;
}

#gameCapture1FS {
	left: 342px;
	top: 23px;
	width: 800px;
	height: 576px;
}

#webcam1 {
	left: 10px;
	top: 467px;
	width: 208px;
	height: 132px;
}

#donationTotalBox {
	left: 25px;
	top: 622px;
	width: 185px;
	height: 75px;
}

#hostBox {
	left: 25px;
	top: 163px;
	width: 185px;
	height: 85px;
}

#runInfoBox {
	left: 229px;
	top: 622px;
	width: 1024px;
	height: 75px;
}

/* Some names do go outside of this but in those cases it should be fine. */
#runnerInfoContainer1 {
	width: 280px;
}

.runnerLogo {
	height: 36px;
}

#sponsorBox {
	left: 25px;
	top: 23px;
	width: 185px;
	height: 118px;
}

#sponsorLogo {
	height: calc(100% - 30px);
}